<section data-ng-controller="DogsController">
  <form class="form-horizontal" data-ng-submit="create()">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>

      <div class="controls">
        <input type="text" data-ng-model="name" id="name" placeholder="Name" required>
        </input>
      </div>

      <label class="control-label" for="gravatar">Gravatar</label>
      <div class="controls">
        <input type="text" data-ng-model="gravatar" id="gravatar" placeholder="Gravatar" required>
        </input>
      </div>

      <div class="controls">
         <gravatar-image data-gravatar-email="dog.gravatar" data-gravatar-size="120" data-gravatar-default="mm" ></gravatar-image>
      </div>

    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn">
      </div>
    </div>
  </form>
</section>