<section data-ng-controller="DogsController" data-ng-init="findOne()">
  <form class="form-horizontal" data-ng-submit="update()">
    <div class="control-group">
      <label class="control-label" for="name">Name</label>

      <div class="controls">
        <input type="text" data-ng-model="dog.name" id="name" placeholder="Name" required>
        </input>
      </div>
      <div class="controls">
        <input ng-model='file' type="file" accept="image/*" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn">
      </div>
    </div>
  </form>
</section>